.main__productview__container {
    border-radius: 8px;
    background: #fff;

}

.text__label{
        color:#403e57;;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.input__container{
        display: flex;
    flex-direction: column;
}

.text__inputs{
        background-color: #f0f0f0;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    padding: 0 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 45px;
}

.main__h4 h4{
        font-size: 17px;
    font-weight: 600;
    line-height: 27px;
    text-transform: capitalize;
}

.main__h4 svg{
font-size: 24px;
font-weight: 700;
}

.add__btn{
  background: rgb(78, 78, 235) !important;
  color: white !important;
  border-radius: 8px !important;
      height: 45px;
  
}

.add__product__img{
            width: 183px;
            height: 183px;
    border: 2px dashed #e4e4e4;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3 ease-in-out;

}
.add__product__img:hover{
        border: 2px dashed #2c7ec0;
transition: all 0.3 ease-in-out;
}

.add__product__img svg{
    font-size: 70px;
    opacity: 0.4;
}

.upload__input{
        height: 100%;
    position: absolute;
    visibility: hidden;
    width: 100%;
}

.upload__label{
    align-items: center;
    cursor: pointer;
    display: flex
;
    flex-direction: column;
    gap: 0;
    height: 100%;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.upload__label span{
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
}

.cross__icon{
    right: -4px;
    top: -6px;
    color: #fff;
    background: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
.add__product__img::after{
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 1;
}