@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  /* height: 100%;
  /* width: 100%;  */
  width: 100%; 
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif !important;
  box-sizing: border-box;
  background:#ebe9e9;
}


::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #0858f7;
}

::-webkit-scrollbar-thumb:hover {
  background: #0858f7;
} 


body.dark .content{
  background: #071739 !important;
}

body.dark ::-webkit-scrollbar-thumb {
  background: #fff;
  opacity: 0.2;
}

body.dark ::-webkit-scrollbar-track {
  background: #301a92;
}